body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
}

canvas {
    height: 100vh;
}